#openSideBar {
    position:fixed;
    margin-top:6px;
    width:72px;
    height:72px;
    margin-left:11px;
    color:#232323;
    cursor:pointer;
    top:0;
    left:0;
}

#pauseBtn {
    display:none;
    position:fixed;
    margin-bottom:7px;
    width:72px;
    height:72px;
    margin-right:11px;
    z-index:3000;
    color:#232323;
    cursor:pointer;
    right:0;
    bottom:0;
    z-index:99;
}

#restartBtn {
    display:none;
    position:fixed;
    margin-bottom:7px;
    width:72px;
    height:72px;
    margin-left:11px;
    z-index:3000;
    color:#232323;
    cursor:pointer;
    bottom:0;
    z-index:99;
}

#startBtn {
    position:absolute;
    left:40%;
    top:38%;
    height:25%;
    width:25%;
    z-index:99999999;
    cursor:pointer;
}

@media only screen and (max-device-width:480px) {
    #openSideBar{
        width:60px;
        height:60px;
    }
    #pauseBtn {
        width:60px;
        height:60px;
    }
    #restartBtn {
        width:60px;
        height:60px;
    }
}
