* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    padding:0;
    margin:0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
    overflow:hidden;
    color:#ecf0f1;
    background-color:#ecf0f1;
}

#canvas {
    transition:all 0.5s ease;
    position:absolute;
    left:0;
    right:0;
    height:100%;
    width:100%;
    background-color:#ecf0f1;
    z-index:0;
}

.unselectable {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.blur {
    opacity:0.1;
}

.overlay {
    position:absolute;
    height:20%;
    width:100%;
    left:50%;
    top:50%;
    margin-left:-50%;
    margin-top:-10%;
    z-index:3000;
    color:#232323;
    text-align:center;
}

.centeredHeader {
    font-size:5vw;
    text-align:center;
    line-height:4rem;
}

.centeredSubHeader {
    font-size:2.2rem;
    line-height:1em;
    text-align:center;
}

.centeredSubSubHeader {
    font-size:1.4rem;
    text-align:center;
}

@media only screen and (min-device-width:320px) and (max-device-width:600px) {
    .centeredHeader {
        font-size:2rem;
        text-align:center;
        line-height:0.6rem;
    }

    .centeredSubHeader {
        font-size:1rem;
        text-align:center;
    }

    .overlay {
        margin-top:-20%;
    }
}
